[submodule "iot-devicetwin"]
	path = iot-devicetwin
	url = https://github.com/everactive/iot-devicetwin.git
[submodule "iot-identity"]
	path = iot-identity
	url = https://github.com/everactive/iot-identity.git
[submodule "iot-management"]
	path = iot-management
	url = https://github.com/everactive/iot-management.git
